<div class="container mt-3">
  <h1 class="text-center">THÊM TÀI KHOẢN</h1></center>
  <form class="p-5" action="/addUser" method="post">
      <div class="mb-3">
        <label class="form-label">Username:</label>
        <input type="text" name="username" placeholder="Enter usename" class="form-control" required>
      </div>
      <div class="mb-3">
          <label class="form-label">Password:</label>
          <input type="password" name="password" placeholder="Enter password" class="form-control"  required>
        </div>
        <div class="mb-3">
          <label class="form-label">Fullname:</label>
          <input type="text" name="fullname" placeholder="Enter fullname" class="form-control" required >
        </div>
        <div class="mb-3">
          <label class="form-label">Address:</label>
          <input type="text" name="address" placeholder="Enter address" class="form-control" required >
        </div>
        <div class="mb-3">
          <label class="form-label">Email:</label>
          <input type="email" name="email" placeholder="Enter email" class="form-control"  required>
        </div>
        <div class="mb-3">
          <div>Giới tính</div>
          <div class="form-check">
            <input class="form-check-input" value="0" type="radio" name="sex" checked>
            <label class="form-check-label">
             Nam
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="1" type="radio" name="sex">
            <label class="form-check-label">
              Nữ
            </label>
          </div>
        </div>
      <center><button type="submit" class="btn btn-primary btn-lg">Thêm mới</button></center>
  </form>


</div>