<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>
<body>

<header>
  <%- include('header'); %>
</header>
<div>
  <% if(data.page){ %>
    <%- include(data.page)%>
  <%} %>
</div>
<footer>
  <%- include('footer'); %>
</footer>

</body>
</html>