<div class="container">
  <h1 class="text-center mt-3">ĐĂNG NHẬP</h1>
  <div class="modal-body">
      <form method="post" action="/sign-in">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" id="username" placeholder="Nhập username" required>
        </div>
        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Nhập mật khẩu" required>
        </div>
        <div class="modal-footer" style="border: none;">
          <button type="submit" class="btn btn-success">Đăng nhập</button>
        </div>
      </form>
  </div>
</div>